{% extends 'ArticleNation/index.html' %}
{% load static %}
{% block content %}


<!--
make a projects page 
-->

<!-- 
    http://robogenius.life/
-->

<!-- 
    Write about myself
-->

<center>
<H1>Paras Mangal</H1>
<a href="https://www.facebook.com/PARASMANGAL" class="fa fa-facebook fa-2x">
    </a>
<a href="mailto: bhavnamangal@gmail.com" class="fa fa-envelope fa-2x"></a>
<a href="https://www.instagram.com/rodin_code/" class="fa fa-instagram fa-2x"></a>
<p>
    Hello I am Paras Mangal,
    I study in 9th class welcome to my site.
    I like robotics and coding.
    I have been doing coding for almost a year.
    

</p>
<!--<If > <else> -->
</center>

{% endblock %}