
{% load static %}
<!-- query language for Django -->

<!DOCTYPE html5>
<!-- This is a comment -->
<!-- HTML -> Hypertext Markup Language -->
<!-- Tabline -> auto fill -->
<!-- Sccs -> colour support -->
<!-- FONT FAMILY MEANS COMBINED FONT OF ALL-->

<html>
    <head>
        <title>Paras's Website</title>
        <style>
            h1{color:blue;
            font-size: 100px;
            float: center;}
            p{color:aqua;
            font-family: 'Segoe UI',
             Tahoma, Geneva, Verdana, sans-serif;}
                body
                {background-color:rgb(27, 201, 201)}
        </style>
    </head>
    <body>
        <H1>Paras Mangal</H1>
        <a href="www.facebook.com/PARASMANGAL"><H6>bhavnamangal@gmail.com</HH6></H6></a>
        <a href="mailto: bhavnamangal@gmail.com"><H6>bhavnamangal@gmail.com</HH6></H6></a>
        <a href="https://www.instagram.com/rodin_code/"><H6>bhavnamangal@gmail.com</HH6></H6></a>
        <p>Hey I am Paras Mangal. I live on
             earth and i love to make new alian 
             friends</p>
        <img src="{% static 'Paras.jpg' %}" alt = "your browser doesn't upoort images" />
    <!--<If > <else> -->

    </body>

        
</html>